@model IEnumerable<EmmasEngines.Models.Supplier>

@{
	ViewData["Title"] = "Suppliers";
}

<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<main>
	<section id="pageName">
		<h1>SUPPLIERS</h1>
	</section>
	<script src="/lib/jquery/dist/jquery.min.js"></script>

	<form asp-action="Index" method="get">
		<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
		<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

		<div class="form-horizontal">

			<section id="inventorySearch" style="">
				<h2><label id="searchHeader" class="control-label">Search Suppliers: </label></h2>
				<input class="form-control" id="SearchString" name="SearchString" type="text" placeholder="Enter Name Eg. John Deere, Phone Eg. ###-###-####, Email Eg. email@domainName.ca" value="@ViewData["Search Suppliers"]" />
				<div class="btn">
					<div class="btn_crud">
						<button type="submit" name="actionButton" value="Filter" tabindex="190" class="btn_crud_edit" onclick="" aria-label="button for edit items">
							<i class="fa fa-filter" aria-hidden="true"></i>
						</button>
						<span class="btn_tooltip">Filter</span>
					</div>
					<div class="btn_crud">
						<button type="submit" name="actionButton" value="Filter" tabindex="190" class="btn_crud_edit" asp-action="Index" aria-label="button for edit items">
							<i class="fa fa-eraser" aria-hidden="true"></i>
						</button>
						<span class="btn_tooltip">Clear</span>
					</div>
					@*                    <div class="btn_crud">
					<button  tabindex="190" class="btn_crud_edit" onclick="" id="btnEdit" aria-label="button for edit items">
					<i class="fa-sharp fa-solid fa-pen"></i>
					</button>
					<span class="btn_tooltip">Edit Items</span>
					</div>*@
					<div class="btn_crud">
						<button class="btn_crud_add" type="button" tabindex="180" onclick="showInPopup('@Url.Action("AddOrEdit","Suppliers",null,Context.Request.Scheme)','ADD SUPPLIER')" id="btn_add_popup" aria-label="button for add suppliers">
							<i class="fa-solid fa-plus"></i>
						</button>
						<span class="btn_tooltip">Add Suppliers</span>
					</div>
					@*                    <div class="btn_crud">
					<button class="btn_crud_add" tabindex="180" onclick="" id="btn-add-request" aria-label="button for add order">
					<i class="fa-solid fa-cart-plus"></i>
					</button>
					<span class="btn_tooltip">Add To Order</span>
					</div>
					<div class="btn_crud">
					<button class="btn_request" onclick="" tabindex="200" aria-label="button for order request">
					<i class="fa-solid fa-pen-to-square"></i>
					</button>
					<span class="btn_tooltip">Order Request</span>
					</div>*@
				</div>
			</section>

		</div>


		<div id="inventoryMain">
			<div class=" divider2_desc_btn">
				<div class="description" id="view-all">
					@await Html.PartialAsync("_ViewAll",Model)
				</div>
			</div>
		</div>

		<partial name="_PagingNavBar" />
	</form>
</main>
<script src="https://kit.fontawesome.com/f8c88d6b79.js" crossorigin="anonymous"></script>