/* Global */
:root {
    /*Color*/
    --color-white: #ffffff;
    --color-dark-white: #bdbdbd;
    /*--color-background:  #F2F2F2;*/
    --color-grey: #D9D9D9;
    --color-orange: #CAA007;
    --color-dark-grey: #454655;
    --color-purple-grey: #3d4856;
    --color-dark-white: #bdbdbd;
    --color-black: #000000;
    --color-bluepurp: #6a6f95;
    --color-bluepurple: #6D64D8;
    --color-purple:#8F5ECA;
    --color-plum:#A758BB;
    --color-pinkpurple:#BB55AB;
    --color-light-yellow:#FFF8EC;
    --color-yellow-grey:#b4aa99;
    --color-gradient-blue: linear-gradient(120deg, rgba(255,255,255,1) 0%, rgba(234,239,247,1) 50%, rgba(169,170,188,1) 100%);
    --color-gradient-orange: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(202,160,7,1) 79%);
    /* Font size */
    --font-large: 32px;
    --font-medium: 18px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size--border--radius: 4px;

    /* Animation */
    --animation-duration: 300ms;

    /* Nav icon */
    --nav-icon-width:50px;
    --nav-border-width: 15px;
}
/* Universal tags */
* {
    box-sizing: border-box;
}
    
body {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0px;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    /*outline: none; removed by gabriel         */
}
li {
    list-style: none;
}
span {
    font-size: 14px;;
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}
    
h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}
    
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}
h4{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}    
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}