@model EmmasEngines.Models.Inventory

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}




<div class="form-popup">
        <form asp-action="AddOrEdit" class="form-container" >
            <h4 id='add_edit'>ADD PRODUCT</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

                <label asp-for="UPC" class="margin-top-22"></label>
                <input asp-for="UPC" class="no-bottom-margin" />
                <span asp-validation-for="UPC" class="text-danger"></span>

                <label asp-for="Name" class="margin-top-22"></label>
                <input asp-for="Name" class="no-bottom-margin" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label  asp-for="Size" class="margin-top-22"></label>
                <input asp-for="Size" class="no-bottom-margin" />
                <span asp-validation-for="Size" class="text-danger"></span>

                <label asp-for="Quantity" class="margin-top-22"></label>
                <input asp-for="Quantity" class="no-bottom-margin" />
                <span asp-validation-for="Quantity" class="text-danger"></span>

            <button type="submit" value="submit" class="btn_submit" style="margin-top: 22px;">Submit</button>
            <button type="button" value="Close" class="btn_cancel">Close</button>

        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
