@using Newtonsoft.Json
@model EmmasEngines.Models.Inventory

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="form-popup">
    <form asp-action="AddOrEdit" class="form-container" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
        @{
            if(Model.ID == 0){//new product
                <h4 id='add_edit'>ADD PRODUCT</h4>
                <button type="button" id="autofill" class="btn btn-autofill">Auto Fill</button>
            }else{
                <h4 id='add_edit'>EDIT PRODUCT</h4>
            }
        }
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />

        <label asp-for="UPC" class="margin-top-22"></label>
        <input asp-for="UPC" id="upc" class="no-bottom-margin" />
        <span asp-validation-for="UPC" class="text-danger"></span>

        <label asp-for="Name" class="margin-top-22"></label>
        <input asp-for="Name" id="name" class="no-bottom-margin" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <label asp-for="Size" class="margin-top-22"></label>
        <input asp-for="Size" id="size" class="no-bottom-margin" />
        <span asp-validation-for="Size" class="text-danger"></span>

        <label asp-for="Quantity" class="margin-top-22"></label>
        <input asp-for="Quantity" id="quantity" class="no-bottom-margin" />
        <span asp-validation-for="Quantity" class="text-danger"></span>

        <button type="submit" value="submit" class="btn_submit" style="margin-top: 22px;">Submit</button>
        <button type="button" value="Close" class="btn_cancel" onclick="closeModal()">Close</button>

    </form>
</div>

<script>
    var usedUpcs = @Html.Raw(JsonConvert.SerializeObject(ViewBag.upcList));

    $("#autofill").click(function () {

        var randUpc;
        do {
            randUpc = Math.floor(Math.random() * 10000000);

        } while ($.inArray(randUpc, usedUpcs) > -1);
        var fullUpc = "0" + randUpc;

        $("#upc").val(fullUpc.replace(/(\d{3})(\d{4})(\d{1})/, "$1-$2-$3"));
        $("#name").val("Example Product");
        $("#size").val(`8" Length x 4" Width`);
        $("#quantity").val("1");
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
