@model EmmasEngines.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<style>
    /* Style the form labels */
    .control-label {
        font-weight: bold;
    }

    /* Center the "Back to List" button */
    .btn-secondary, .btn-primary {
        margin: 10px auto;
        display: block;
    }
</style>

<h1>Create Customer</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" class="form-horizontal form-popup form-container">

            <button type="button" id="autofill" class="btn btn-autofill">Auto Fill</button>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>

                <input asp-for="FirstName" id="first" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>

                <input asp-for="LastName" id="last" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>

                <input asp-for="Phone" id="phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Address"></label>

                <input asp-for="Address" id="address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Postal"></label>

                <input asp-for="Postal" id="postal" class="form-control" />
                <span asp-validation-for="Postal" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="CityID"></label>

                <select asp-for="CityID" class="form-control" asp-items="ViewBag.CityID"></select>

            </div>

            <button type="submit" style="margin-top: 22px;" class="btn_submit">Create</button>

            <button type="button" class="btn_cancel" onclick="window.location.href='/POS/Index'">Back to POS</button>

        </form>
    </div>
</div>

<script>
    $("#autofill").click(function () {

        $("#first").val("John");
        $("#last").val("Doe");
        $("#phone").val("905-000-0000");
        $("#address").val("123 Example Street");
        $("#postal").val(`O2V 0H1`);
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
