<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmmasEngines</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pages/inventory.css" asp-append-version="true" />
    <link rel="preconnect" href="~/font-awesome-4.7.0/css/font-awesome.css" asp-append-version="true">
    <link runat="server" rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="/favicon.ico" type="image/ico" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class = "home_body">
    <header class="home_header">

        <nav class="sidenav">
            <div class="">

                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/imgs/eseLogo.png" alt="Emma's small engines golden cog wheel company logo."></a>
            </div>


            <div class="">
                    <ul id="pageLinks">
                        <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-sharp fa-solid fa-house"></i>Home</a>
                        </li>
                        <li class="">
                        <a class="" asp-area="" asp-controller="Inventories" asp-action="Index"><i class="fa-solid fa-warehouse"></i>Inventory</a>
                        </li>
                        <li class="">
                        <a class="" asp-area="" asp-controller="Suppliers" asp-action="Index"><i class="fa-regular fa-handshake"></i>Suppliers</a>
                        </li>
                        <li class="">
                        <a class="" asp-area="" asp-controller="Customers" asp-action="Index"><i class="fa-solid fa-users"></i>Customers</a>
                        </li>
                        <li class="">
                        <a class="" asp-area="" asp-controller="OrderRequests" asp-action="Index"><i class="fa-solid fa-screwdriver-wrench"></i>Order Requests</a>
                        </li>
                        <li class="">
                        <a class="" asp-area="" asp-controller="POS" asp-action="Index"><i class="fa-regular fa-credit-card"></i>POS</a>
                        </li>
                    </ul>
                    @*
                    <partial name="_LoginPartial" />*@
                </div>
            
        </nav>
    </header>
@*    <div class="container">*@
        <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*************************************************************************************************@
    @*Modal Pop Div*@
    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
@*                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">*@
@*                        <span aria-hidden="true">&times;</span>*@
@*                    </button>*@
                <div class="modal-body">
                    
                </div>

            </div>
        </div>
    </div>
    @*************************************************************************************************@

    <footer class="border-top footer text-muted">
        @*        <div class="container">
        &copy; 2023 - EmmasEngines - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/f8c88d6b79.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>