@model IEnumerable<EmmasEngines.ViewModels.UserVM>

@{
    ViewBag.Title = "User Roles";
}

<section id="pageName">
    <h1>MANAGE ROLES</h1>
</section>
<div id="inventoryMain">
    <div class=" divider2_desc_btn">
        <div class="description">
        <table class="table table-striped" id="inventoryTable">
            <tr class="bg-info">
                <th class ="tableHeaders">
            @Html.DisplayNameFor(model => model.UserName)
        </th>
                <th class="tableHeaders">
            @Html.DisplayNameFor(model => model.UserRoles)
        </th>
                <th class="tableHeaders"    ></th>
    </tr>

    @foreach (var item in Model)
    {
                    <tr class ="table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    foreach (var r in item.UserRoles)
                    {
                        @:  @r <br />
                    }
                }
            </td>
            <td>

                            <button class="btn_crud_add" type="button">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>
                                


            </td>
        </tr>
    }

</table>
</div>  
</div>
</div>